<% markdown = new_markdown %>
<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @question.content %>
</p>

<p>
  <strong>User:</strong>
  <%= link_to @question.user.name, @question.user %>
</p>

<% if user_signed_in? and @question.user == current_user %>
    <%= link_to 'Edit', edit_question_path(@question) %>
<% end %>

<% @question.answers.each do |answer| %>
  <article id="answer-<%= answer.id_token %>" class="answer">
    <div class="answer-content"><%== markdown.render(answer.content) %></div>
    <p class="answer-author">Author: <%= link_to answer.user.name, answer.user %></p>
    <button class="comment-button">Add comment</button>
    <div class="comment-list">
      <% answer.comments.each do |comment| %>
        <article id="comment-<%= comment.id_token %>" class="comment">
          <div class="comment-content"><%== markdown.render(comment.content) %></div>
          <p class="comment-author">Author: <%= link_to comment.user.name, comment.user %></p>
        </article>
      <% end %>
    </div>
    <div class="comment-field"></div>
  </article>
<% end %>

<% if user_signed_in? %>
  <%= form_for [@question, Response.new] do |f| %>
    <h2>Write an answer</h2>
    <div  class="epiceditor-container">
      <div id="epiceditor"></div>
    </div>
    <%= f.text_area :content, id: "my-edit-area", style: "display: none"%>
    <%= f.hidden_field 'target_response_token', value: nil %>

    <div class="actions">
      <%= f.submit "Answer" %>
    </div>
  <% end %>
<% else %>
  Sign in to comment
<% end %>
